[bumpversion]
current_version = 1.0.54
commit = True
tag = True
message = Bump version: {current_version} → {new_version} [ci skip]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:pvsite_datamodel/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
